extends layout

block content
  div.center
      h1=title
      textarea
      br
      button.btn.btn-default Run select tests
      button.btn.btn-default Run update tests
      button.btn.btn-default Run procedure